<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="zh-CN">

<head>
    <title>开始练习</title>
    <style type="text/css">
        body {
            font-family: "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
        }

        @font-face {
            font-family: "mogihaPen";
            src: url("/static/APJapanesefont.ttf")
        }
    </style>
</head>

<body>
    <h1 style="text-align:center;"> Hello? </h1>
    <p style="text-align:left;padding:10% 30% 10% 30%"> {{ text | safe }}</p>
</body>

</html>
